.dashContainer {
  color: "black";
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.dashGreeting {
  font-size: 32px;
  margin-left: 3%;
  margin-top: 2%;
}

.registryContainer {
  text-align: center;
  border: 1px sandybrown solid;
  border-width: 2px;
  display: flex;
  margin: auto;
  border-radius: 25px;
}

.groupIdentifier {
  font-size: 24px;
  text-align: center;
  color: aliceblue;
  background-color: rgb(48, 146, 238);
  cursor: pointer;
  width: 30%;
  margin: auto;
  border-radius: 25px;
}

.Dropdown {
  width: 10%;
  margin: auto;
}

.ActiveGroupHeader {
  font-size: 32px;
}

.ActiveGroupBtn {
  background-color: rgb(64, 182, 250);
  border-radius: 15px;
  padding: 0.7%;
  margin-left: 1%;
  font-size: 24px;
  cursor: pointer;
}

.AddItemBtn {
  background-color: steelblue;
  padding: 1%;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
}
