.container {
  height: 92vh;
  background-color: rgb(166, 166, 255);
}

.GroupTitle {
  font-size: 32px;
  text-align: center;
}

.Body {
  text-align: center;
}

.GroupManageContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.groupIdentifier {
  font-size: 24px;
  text-align: center;
  color: aliceblue;
  background-color: rgb(48, 146, 238);
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  margin-top: 2rem;
  padding: 0.5rem;
}
.ActionButtons {
  flex-direction: row;
  display: flex;
  margin: auto;
}
