.container {
  height: 92vh;
  background-color: rgb(166, 166, 255);
}

.GroupTitle {
  font-size: 32px;
  text-align: center;
}

.MemberContainer {
  text-align: center;
  width: 95vw;
}

.GroupPageHeader {
  font-size: 36px;
}

.GroupManageContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
}

.ActionButton {
  font-size: 24px;
  text-align: center;
  color: aliceblue;
  border: 2px solid rgb(0, 30, 128);
  cursor: pointer;
  margin: auto;
  border-radius: 25px;
  margin-top: 2rem;
  padding: 0.5rem;
}

#Abtn {
  color: black;
  background-color: rgb(63, 160, 123);
}

#Jbtn {
  color: black;
  background-color: rgb(202, 189, 189);
}
.ActionButton:hover {
  background-color: honeydew;
  color: black;
}

.CreateBtn,
.JoinBtn {
  flex: 1;
}

.UserListContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  width: 100%;
  flex-wrap: wrap;
}

.UserContainer {
  border: 1px solid black;
  margin: 2%;
  width: 20%;
  height: 250px;
  padding: 1%;
  border-radius: 15px;
  background-color: white;
  box-sizing: border-box;
}

.UserImage {
  height: 200px;
  object-fit: contain;
}
.UserName {
}
