.ProfileContainer {
  color: "black";
  background-size: cover;
  width: 100%;
  height: 100%;
}

.ProfileInfo {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: Avenir;
}

.HomePageUserInfo {
  font-size: 29px;
  margin-top: -3%;
  font-weight: 600;
  padding: 2%;
}

.ProfileImgBtn {
  cursor: pointer;
  background-color: skyblue;
  border-radius: 15px;
  padding: 0.5rem;
}

.HomePageProfileImg {
  display: flex;
}

.ChangeProfileImgBtn {
  background-color: white;
  border: 0.1px solid gray;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 35px;
  position: relative;
  left: 6rem;
  top: -7.5rem;
  color: gray;
  font-weight: 200;
  cursor: pointer;
  text-align: center;
  display: block;
}

.ChangeProfileBtnTxt {
  margin-top: -20%;
  font-size: 26px;
}

.registryPlaceholder {
  text-align: center;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Avenir;
}

@media only screen and (max-width: 875px) {
  .GroupContainer {
    width: 30%;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 730px) {
  .GroupContainer {
    width: 50%;
    box-sizing: border-box;
  }
}
