.container {
  background-image: url("../../images/GradientBG.jpg");
  background-size: cover no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

.groupTypesContainer {
  display: flex;
  margin: 0 1rem 0 1rem;
  text-align: center;
}
.GroupBody {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.GroupListContainer {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.GroupContainer {
  box-sizing: border-box;
  margin: 4%;
}

.GroupLabel {
  flex: 3;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.GroupMode {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GroupActions {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: space-around;
  font-size: 23px;
  align-items: center;
}

.DeleteGroupBtn,
.LeaveGroupBtn,
.SettingsGroupBtn {
  cursor: pointer;
}

.GroupTitle {
  font-size: 28px;
  text-align: center;
}

.MemberContainer {
  text-align: center;
  width: 95vw;
}

.GroupManageContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  text-align: center;
}

.ActionButton {
  font-size: 24px;
  text-align: center;
  color: aliceblue;
  border: 2px solid rgb(0, 30, 128);
  cursor: pointer;
  margin: auto;
  border-radius: 25px;
  margin-top: 2rem;
  padding: 0.5rem;
}

#Abtn {
  color: black;
  background-color: rgb(63, 160, 123);
}

#Jbtn {
  color: black;
  background-color: rgb(202, 189, 189);
}
.ActionButton:hover {
  background-color: honeydew;
  color: black;
}

.CreateBtn,
.JoinBtn {
  flex: 1;
}

.GroupActionBtn {
  position: absolute;
  margin-left: 0.8%;
  margin-top: 0.75%;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.VerticalLine {
  width: 0.5px;
  background-color: black;
  height: 100%;
  display: inline-block;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(170, 170, 170, 0.4);
  border-radius: 10px;
}
