.container {
  background-color: teal;
  height: 100%;
  width: 100%;
  position: absolute;
}

.groupTypesContainer {
  display: flex;
  margin: 0 1rem 0 1rem;
}

.GroupListContainer {
  flex-direction: column;
  height: 50vh;
  overflow-y: scroll;
}
.GroupListHeader {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-right: 5%;
  background: white;
  height: 35px;
}

.GroupNameHeader {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.GroupTypeHeader {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GroupActionHeader {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GroupContainer {
  border: 1px solid black;
  margin: 2%;
  height: 50px;
  background-color: white;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.GroupLabel {
  flex: 3;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.GroupMode {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GroupActions {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: space-around;
  font-size: 23px;
  align-items: center;
}

.DeleteGroupBtn,
.LeaveGroupBtn,
.SettingsGroupBtn {
  cursor: pointer;
}

.VerticalLine {
  width: 0.5px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  display: inline-block;
}

.ownedGroups {
  background-color: rgb(255, 221, 221);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-top: 5%;
  flex-direction: column;
  flex: 1;
}

.otherGroups {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgb(0, 119, 128);
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
