.ResetPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ResetPageBody {
  height: 350px;
  width: 350px;
  border: 3px solid rgb(7, 117, 160);
  text-align: center;
}

form .reset-form-inner .reset-form-group {
  display: block;
  width: 250px;
  margin: auto;
  margin-bottom: 15px;
}

form .reset-form-inner .reset-form-group input {
  display: block;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: #d8d8d8;
  border-radius: 8px;
}

form .reset-form-inner input[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: rgb(55, 199, 247);
  color: white;
  background-size: 200%;
  font-weight: 700;
  cursor: pointer;
}

.ResetForm {
  margin-top: 15%;
}

#resetCode,
#resetPassword {
  padding-left: 15px;
}
